{% macro render_organizer(organizer) %}
<div class="card organizer-card">
    <div class="card-image">
        <figure class="image">
            {% if organizer.attachments.get('profile.jpg') %}
            <img src="{{organizer.attachments.get('profile.jpg') | url}}" alt="{{organizer.photo_alt | default('photo of ' + organizer.name)}}"/>
            {% elif organizer.attachments.get('profile.jpeg') %}
            <img src="{{organizer.attachments.get('profile.jpeg') | url}}" alt="{{organizer.photo_alt | default('photo of ' + organizer.name)}}" />
            {% elif organizer.attachments.get('profile.png') %}
            <img src="{{organizer.attachments.get('profile.png') | url}}" alt="{{organizer.photo_alt | default('photo of ' + organizer.name)}}"/>
            {% endif %}
        </figure>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <h2 class="title is-4">{{organizer.name}}</h2>
                <h3 class="subtitle is-6">{{organizer.role}}</h3>
                <p>{{organizer.bio}}</p>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        {% if organizer.email %}
        <a class="card-footer-item" href="mailto:{{ organizer.email }}">
            @
        </a>
        {% endif %}

        {% if organizer.mastodon_url %}
        <a class="card-footer-item" href="{{ organizer.mastodon_url }}">
            <img src="{{ '/static/mastodon.svg' | asseturl }}" width="35" alt="Mastodon logo"/>
        </a>
        {% endif %}

        {% if organizer.twitter_handle %}
        <a class="card-footer-item" href="https://www.twitter.com/@{{organizer.twitter_handle}}">
            <img src="{{ '/static/x.svg' | asseturl }}" width="35" alt="X logo"/>
        </a>
        {% endif %}
    </footer>
</div>
{% endmacro %}