{% macro render_organizer(organizer) %}
<div class="card organizer-card">
    <div class="card-image">
        <figure class="image">
            {% if organizer.attachments.get('profile.jpg') %}
            <img src="{{organizer.attachments.get('profile.jpg') | url}}" />
            {% elif organizer.attachments.get('profile.jpeg') %}
            <img src="{{organizer.attachments.get('profile.jpeg') | url}}" />
            {% elif organizer.attachments.get('profile.png') %}
            <img src="{{organizer.attachments.get('profile.png') | url}}" />
            {% endif %}
        </figure>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <h4 class="title is-4">{{organizer.name}}</h4>
                <h6 class="subtitle is-6">{{organizer.role}}</h6>
                <p>{{organizer.bio}}</p>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        {% if organizer.email %}
        <a class="card-footer-item" href="mailto:{{ organizer.email }}">
            @
        </a>
        {% endif %}

        {% if organizer.mastodon_url %}
        <a class="card-footer-item" href="{{ organizer.mastodon_url }}">
            <img src="{{ '/static/mastodon.svg' | asseturl }}" width="35" />
        </a>
        {% endif %}

        {% if organizer.twitter_handle %}
        <a class="card-footer-item" href="https://www.twitter.com/@{{organizer.twitter_handle}}">
            <img src="{{ '/static/x.svg' | asseturl }}" width="35" />
        </a>
        {% endif %}
    </footer>
</div>
{% endmacro %}