
{% macro render_header_row(tiers) %}
  <thead>
    <th colspan="4"></th>
    {% for tier in tiers %}
      <th>
        <p>{{ tier.name }}</p>
        <p>{{ tier.price }}</p>
      </th>
    {% endfor %}
  </thead>
{% endmacro %}

{% macro render_section(name, tiers) %}
  <tr>
    <td colspan="4" class="is-primary">{{ name }}</td>
    {% for tier in tiers %}
      <td class="is-primary"></td>
    {% endfor %}
  </tr>
{% endmacro %}

{% macro render_row(label, description, key, tiers) %}
  <tr>
    <td colspan="4">
      <strong>{{ label }}:</strong>
      <span>{{description}}</span>
    </td>

    {% for tier in tiers %}
      <td>
        {% if tier[key] is sameas true %}
           ✓
        {% elif tier[key] is not sameas false %}
          {{ tier[key] }}
        {% endif %}
      </td>
    {% endfor %}
    
  </tr>
{% endmacro %}
