{% macro render_sponsor(sponsor) %}
    <div class="sponsor-entry">
        <a href="{{ sponsor.url }}" target="_blank">
            <img src="{{ sponsor.attachments.get('logo.png') | url }}" alt="{{sponsor.name}} logo"/>
        </a>
        {{ sponsor.about }}
    </div>
{% endmacro %}

{% macro render_tier(tier) %}
    {% set sponsors = site.get("sponsors/our-sponsors").children.filter(F.tier == tier) %}
    {% set count = sponsors.count() %}
    {% if count > 0 %}
        <div class="sponsor-tier">
            <h2>{{ tier }}</h2>
            <div class="sponsor-group">
                {% for sponsor in site.get("sponsors/our-sponsors").children.filter(F.tier == tier) %}
                    {{ render_sponsor(sponsor) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}