{% extends 'layout.html' %}
{% from 'macros/sponsor_tier.html' import render_header_row, render_section, render_row %}
{% block title %}
{{ this.title }}
{% endblock %}
{% block body %}
<section class="section">
    <div class="container">
        <div class="content">
            <h1>{{ this.title }}</h1>

            {{ this.content }}
        </div>

        <div class="content">
            <h2>Sponsorship Tiers</h2>
            
            <table class="table is-bordered is-hoverable is-striped">
                {{ render_header_row(this.children) }}
            
                <tbody>
                    {{ render_row("Availability", "", "availability", this.children) }}
                    {{ render_section("Tickets", this.children) }}
                    {{ render_row("Complementary conference passes (in person)", "", "in_person_passes", this.children) }}
                    {{ render_row("Complementary conference passes (remote)", "", "remote_passes", this.children) }}
                    {{ render_section("Benefits", this.children) }}
                    {{ render_row("Logo on website and press releases", "", "logo", this.children) }}
                    {{ render_row("Social Media Mentions", "", "social_media_mentions", this.children) }}
                    {{ render_row("Virtual booth space", "", "virtual_booth", this.children) }}
                    {{ render_row("In-person booth space", "", "in_person_booth", this.children) }}
                    {{ render_row("Logo with message on website", "", "website_logo_with_message", this.children) }}
                    {{ render_row("Logo banner on stage", "", "banner_logo", this.children) }}
                    {{ render_row("Logo on intermission video", "", "intermission_logo", this.children) }}
                    {{ render_row("Logo with brief message in opening and closing emails", "", "email_logo", this.children) }}
                    {{ render_row("Acknowledgement in opening and closing remarks", "", "acknowledgement", this.children) }}
                    {{ render_row("Logo on videos and screen recordings during sessions", "", "video_logo", this.children) }}
                    {{ render_row("Five minute talk slot", "", "five_minute_talk", this.children) }}
                </tbody>
            </table>
        </div>
             
        <div class="content">
            {{ this.add_ons }}
        </div>
    </div>
</section>
{% endblock %}
