{% extends 'layout.html' %}
{% from 'macros/organizer.html' import render_organizer %}
{% block title %}
{{ this.title }}
{% endblock %}
{% block body %}
<section class="section">
    <div class="container">
        <div class="content">
            <h2>{{ this.title }}</h2>

            {{ this.body }}
        </div>

        <div class="section">
            <div class="organizer-list is-flex is-flex-wrap-wrap is-justify-content-center">
                {% for child in this.children.include_undiscoverable(true).filter(F.sort_index < 2) %}
                <div class="">
                    {{ render_organizer(child) }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="section">
            <div class="organizer-list is-flex is-flex-wrap-wrap is-justify-content-center">
                {% for child in this.children.include_undiscoverable(true).filter(F.sort_index > 1) %}
                <div class="">
                    {{ render_organizer(child) }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}